.login-form-card
    width: 45vw
    margin: auto
    margin-top: 15vh
    text-align: center
    // nested style - controlling elements inside class//
    p 
        font-size: 18pt
        margin: 1%
    .MuiFormControl-root
        margin: 2%
        width: 25vw
